<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Edit</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<form class="form-style-4" role="form" method="POST"
			th:action="@{/supplier/edit}" th:object="${supplier}">
			<div class="form-style-4">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-8 col-sm-6 col-xs-12">
							<div class="form-group ">
								<label class="control-label requiredField" for="name">
									Supplier Name <span class="asteriskField"> * </span>
								</label>
								<div class="input-group">
									<div class="input-group-addon">Supplier</div>
									<input class="form-control" id="name" name="name"
										placeholder="Name" th:field="*{name}" required type="text" />
									<input type="hidden" th:field="*{id}" />
								</div>
							</div>
							<div class="form-group ">
								<label class="control-label requiredField" for="name1">
									Address <span class="asteriskField"> * </span>
								</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-building"> </i>
									</div>
									<input class="form-control" id="name1" name="name1"
										placeholder="Address" th:field="*{addres}" required
										type="text" />
								</div>
							</div>
							<div class="form-group ">
								<label class="control-label requiredField" for="tel">
									Telephone Number <span class="asteriskField"> * </span>
								</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-phone-square"> </i>
									</div>
									<input class="form-control" th:field="*{phoneNumber}" id="tel"
										name="tel" placeholder="Phone Number" type="text" max="10" min="10" 
										pattern="[0-9]{10}"/>
								</div>
							</div>
							<div class="form-group"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<button type="submit" th:classappend="${hideCreate}==1?'hidden':''"
						class="btn btn-success" name="edit">Edit</button>
				</div>
				<div class="col-md-1">
					<button type="submit" th:classappend="${hideCreate}==1?'hidden':''"
						class="btn btn-success" name="delete">Delete</button>
				</div>
				<div class="col-md-1">
					<button type="submit" th:classappend="${hideCreate}==0?'hidden':''"
						class="btn btn-success" name="save">Save</button>
				</div>
				<a class="btn btn-success" href="/supplier/home">Back </a>
			</div>
		</form>
		<br>
		<div th:if="${hideCreate}==0">
			<hr>
			<br>
			<h1>Supplied Products</h1>
			<table class="table  rwd-table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Description</th>
						<th scope="col">Quantity</th>
						<th scope="col">Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${supplier.products}">
						<td contenteditable="true" th:text="${product.name}"></td>
						<td contenteditable="true" th:text="${product.description}"></td>
						<td contenteditable="true" th:text="${product.quantity}"></td>
						<td><a th:href="@{/supplier/product/(id=${product.id})}"
							class="btn btn-primary eBtn">Delete</a></td>
					</tr>
				</tbody>
			</table>
			<a th:href="@{/supplier/product/add/(id=${supplier.id})}"
				class="btn btn-primary bBtn">Add Product</a>
		</div>
		<div class="myForm">
			<form method="POST" th:action="@{/supplier/product/delete}"
				th:object="${supplier}">
				<div class="modal" id="exampleModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content form-style-4">
							<div class="form-style-4">
								<h5 class="modal-title" id="exampleModalLabel">Delete
									Product!</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="form-style-4">
								<h5>Are you sure you want to delete this product?</h5>
								<div class="form-group">
									<input type="hidden" class="form-control" id="product-name"
										name="product-name" th:field="*{id}" />
								</div>
							</div>
							<div class="form-style-4">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">No</button>
								<input type="submit" class="btn btn-primary" value=Yes />
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(document).ready(function() {
						$('.table .eBtn').on('click', function(event) {
							console.log('asd')
							event.preventDefault();
							var href = $(this).attr('href');
							$.get(href, function(id, status) {
								console.log(id);
								$('.myForm #product-name').val(id)
							});
							$('.myForm #exampleModal').modal();
						});
					});
				</script>
			</form>
		</div>
		<div class="addForm">
			<form method="POST" th:action="@{/supplier/product/addProd}"
				th:object="${product}">
				<div class="modal" id="exampleModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="form-style-4">
								<h5 class="modal-title" id="exampleModalLabel">Add new
									Product!</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="form-style-4">
								<div class="form-group">
									<input type="hidden" class="form-control" id="supplier-name"
										name="supplier-name" th:field="*{id}" />
									<div class="form-group">
										<label for="product-name" class="col-form-label">Product
											Name:</label> <span class="asteriskField"> * </span> <input
											type="text" class="form-control" required id="product-name"
											name="product-name" th:field="*{name}" />
									</div>
									<div class="form-group">
										<label for="product-name" class="col-form-label">Product
											Description:</label> <span class="asteriskField"> * </span> <input
											type="text" class="form-control" id="product-desc"
											name="product-desc" required th:field="*{description}" />
									</div>
									<div class="form-group">
										<label for="product-name" class="col-form-label">Product
											Quantity:</label> <span class="asteriskField"> * </span> <input
											type="number" class="form-control" id="product-quant" min="1"
											name="product-quant" required th:field="*{quantity}" />
									</div>
								</div>
							</div>
							<div class="form-style-4">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">No</button>
								<input type="submit" class="btn btn-primary" value=Yes />
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
					$(document).ready(function() {
						$('.bBtn').on('click', function(event) {
							event.preventDefault();
							var href = $(this).attr('href');
							$.get(href, function(id, status) {
								$('.addForm #supplier-name').val(id)
							});
							$('.addForm #exampleModal').modal();
						});
					});
				</script>
			</form>
		</div>
	</div>
</body>
</html>