<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Suppliers</title>

</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="card-block">
			<div class="alert alert-warning alert-dismissible fade show"
				role="alert" th:if="${msg}" th:utext="${msg}">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close"></button>
			</div>
			<div class="row">
				<div class="col-md-1">
					<h1>Suppliers</h1>
					<hr>
				</div>
			</div>
			<input class="form-control" id="inputFilter" type="text"
				placeholder="Search.." />
			<table class="rwd-table" id="suppliers">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Address</th>
						<th scope="col">Phone number</th>
						<th scope="col">Edit</th>
					</tr>
				</thead>
				<tbody th:if="${not #lists.isEmpty(suppliers)}">
					<tr th:each="supplier : ${suppliers}">
						<td contenteditable="true" th:text="${supplier.name}"></td>
						<td contenteditable="true" th:text="${supplier.addres}"></td>
						<td contenteditable="true" th:text="${supplier.phoneNumber}"></td>
						<td><a th:href="@{/supplier/edit/{nr}(nr=${supplier.name})}"
							class="btn btn-success">EDIT</a></td>
					</tr>
				</tbody>
				<tbody th:if="${#lists.isEmpty(suppliers)}">
					<tr>
						<td colspan="4">No suppliers were found!</td>
					</tr>
				</tbody>
			</table>
			<script>
				$("#inputFilter")
						.on(
								"keyup",
								function() {
									var inputValue = $(this).val()
											.toLowerCase();
									console.log(inputValue);
									$("#suppliers tbody tr")
											.filter(
													function() {
														$(this)
																.toggle(
																		$(this)
																				.text()
																				.toLowerCase()
																				.indexOf(
																						inputValue) > -1)
													});
								});
			</script>
		</div>
		<a th:href="@{/supplier/create}" class="btn btn-primary btn-lg active">Create</a>
	</div>
</body>
</html>