<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/highcharts-3d.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>

		<div id="container" style="height: 400px; width: 550px;" ></div>
		<script th:inline="javascript">
		Highcharts.chart('container', {
			chart : {
				backgroundColor: '#495C70',
				type : 'pie',
				options3d : {
					enabled : true,
					alpha : 50,
					beta : 0
				}
			},
			title : {
				text : 'Result Status'
			},
			tooltip : {
				pointFormat : '{series.name}: <b>{point.percentage:.1f}%</b>'
			},
			plotOptions : {
				pie : {
					allowPointSelect : true,
					cursor : 'pointer',
					depth : 35,
					dataLabels : {
						enabled : true,
						format : '{point.name}'
					}
				}
			},
			series : [ {
				type : 'pie',
				name : 'Ratio',
				data : [ [ 'Single', [[${single}]] ], [ 'Double', [[${doublee}]] ], [ 'Triple', [[${triple}]] ]  ]
			} ]
		});
	</script>
	<div style="display: grid;" align="center">
			<div>
				<div >
					<h3>The number of reservations based on room types are:</h3>
				</div>
			</div>
			<div class="col-md-6 field-label-responsive">
				<div >
					<table class="rwd-table">
						<tr>
							<td>Room Type</td>
							<td>Number of reservations</td>
						</tr>
						<th:block >
							<tr>
								<td>Single</td>
								<td th:text="${single}" align="center"></td>
							</tr>
							<tr>
								<td>Double</td>
								<td th:text="${doublee}" align="center"></td>
							</tr>
							<tr>
								<td>Triple</td>
								<td th:text="${triple}" align="center"></td>
							</tr>
						</th:block>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<a class="btn btn-success" href="/reception/home">Back </a>
		</div>
	</div>
</body>
</html>