<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorator="layout/layout" >
<head>
 <title>Rooms</title>
</head>
<body>
<div layout:fragment="content"  class="container">
<h2>Hi, <span th:utext="${user.firstname} + ' ' + ${user.lastname} +'!'"></span></h2>
	<h1>Welcome to the Hotel Management System</h1>
	<hr>
	<div class="row">
         <div class="col-md-6 field-label-responsive">
			<h1>Using this system you can:</h1>
         </div>
		<div >
		<ul class="list-group list-group-flush">
			  <li ><h3><a class="nav-item nav-link" th:href="@{/reception/reservations}">View Bookings</a></h3>
		      <li ><h3><a class="nav-item nav-link" href="/graph">Statistics</a></h3>
		      <li ><h3><a class="nav-item nav-link" href="/user/myProfile">View and Edit My Profile</a></h3>
		      <li ><h3><a class="nav-item nav-link" th:href="@{/logout}">Sign Out</a></h3>
		</ul>
		</div>  
	</div>    
</div>
</body>
</html>