<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Edit</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="form-style-4">
			<div class="row">
				<h3>Bookings</h3>
				<hr>
			</div>
		</div>
		<div class="note note-danger" role="alert" th:if="${msgSuccess}"
			th:utext="${msgSuccess}">
			<h4 class="block">Error</h4>	
		</div>
		<div class="note note-danger" role="alert" th:if="${msgFail}"
			th:utext="${msgFail}">
			<h4 class="block">Error</h4>
		</div>

		<input class="form-control" id="inputFilter" type="text" placeholder="Search.." />
		<table class="rwd-table"
			id="reservations">
			<thead class="thead-dark">
				<tr>
					<th scope="col">FirstName</th>
					<th scope="col">LastName</th>
					<th scope="col">Start Date</th>
					<th scope="col">End Date</th>
					<th scope="col">Room Type</th>
					<th scope="col">Price</th>
					<th scope="col">Paid</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="res : ${reservations}">
					<td contenteditable="true" th:text="${res.client.firstname}"></td>
					<td contenteditable="true" th:text="${res.client.lastname}"></td>  
					<td contenteditable="true" th:text="${#dates.format(res.startdate, 'dd-MM-yyyy')}"></td>
					<td contenteditable="true" th:text="${#dates.format(res.endDate, 'dd-MM-yyyy')}"></td>
					<td contenteditable="true" th:text="${res.room.type}"></td>
					<td contenteditable="true" th:text="${res.price}"></td>
					<td th:text="${res.isPayed}==true ? 'Paid':'Not Paid'"></td>
					<td><a
						th:href="@{/reception/reservation/delete/(id=${res.id})}"
						class="btn btn-success">Remove</a></td>
				</tr>
			</tbody>
		</table>
		<script>
		$("#inputFilter").on("keyup", function() {
		    var inputValue = $(this).val().toLowerCase();
		    console.log(inputValue);
		    $("#reservations tbody tr").filter(function() {
		    	$(this).toggle($(this).text().toLowerCase().indexOf(inputValue) > -1)
		    });
		});
		</script>
	</div>
</body>
</html>