<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
   xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
   layout:decorator="layout/layout" >
    	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<head>
 <title>Home</title>
</head>
<body>
<div layout:fragment="content"  class="container">
 <h2>Hello, <span th:utext="${userName.firstname} + ' ' + ${userName.lastname} +'!'"></span></h2>
	<hr>
	<div class="row">
         <div class="col-md-6 field-label-responsive">
			<h1>Would you like to:</h1>
         </div>
		<div >
		<ul class="list-group list-group-flush">
		      <li ><h3><a class="nav-item nav-link" href="/client/myProfile">View and Edit My Profile</a></h3>
		      <li ><h3><a class="nav-item nav-link" th:href="@{/logout}">Sign Out</a></h3>
		      <li ><h3><a class="nav-item nav-link" th:href="@{/client/reservation}">Make a reservation</a></h3>
		      <li ><h3><a class="nav-item nav-link" th:href="@{/client/reservation/history}">View Past Reservations</a></h3>
		</ul>
		</div>  
	</div>    

</div>
</body>
</html>