<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Reservation</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="form-style-4">
			<div class="row">
				<h3>Make a reservation!</h3>
				<hr>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<form role="form" method="POST"
							th:action="@{/client/reservation}" th:object="${reservation}">
							<div class="form-group ">
								<label class="control-label requiredField" for="date">
									From <span class="asteriskField"> * </span>
								</label>
								<div class="input-group">
									<input class="form-control" id="startdate" name="startdate"
										placeholder="DD/MM/YYYY" type="text" th:field="*{startdate}"
										readonly />
								</div>
							</div>
							<div class="form-group ">
								<label class="control-label requiredField" for="date1">
									TO <span class="asteriskField"> * </span>
								</label>
								<div class="input-group">
									<input class="form-control" id="endDate" name="endDate"
										placeholder="DD/MM/YYYY" type="text" th:field="*{endDate}"
										readonly="readonly" />
								</div>
							</div>
							<div class="form-group ">
								<label class="control-label requiredField" for="select">
									Room Type <span class="asteriskField"> * </span>
								</label> <select class="select form-control" name="select"
									th:field="*{roomType}" id="roles">
									<option th:each="selectedType : ${types}"
										th:value="${selectedType}" th:utext="${selectedType}" />
								</select>
							</div>
							<div class="form-group ">
								<label class="control-label " for="number1"> Number of
									Persons </label>
								<div class="input-group">
									<input class="form-control" id="number1" name="number1"
										type="number" th:field="*{numberOfPersons}" required min="1"/>
								</div>
							</div>
							<div class="form-group">
								<div>
									<button class="btn btn-primary " name="submit" type="submit">
										Search</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
            $(document).ready(function(){
                var date = new Date();
                var container=$('.form-style-4 form').length>0 ? $('.form-style-4 form').parent() : "body";
                var fromTimeInput = $('input[name="startdate"]');
                var toTimeInput = $('input[name="endDate"]');
                var fromTime = fromTimeInput.val();
                var toTime = toTimeInput.val();
            
                fromTimeInput.datepicker({
                	format: 'dd/mm/yyyy',
                    keyboardNavigation : false,
                    forceParse : false,
                    calendarWeeks : true,
                    container: container,
                    autoclose : true,
                    startDate: date,
                    endDate: toTime
                });
                toTimeInput.datepicker({
                	format: 'dd/mm/yyyy',
                    keyboardNavigation : false,
                    container: container,
                    forceParse : false,
                    calendarWeeks : true,
                    autoclose : true,
                    startDate: fromTime
                });
                fromTimeInput.on("changeDate", function (e) {
                    toTimeInput.datepicker('setStartDate', e.date);
                });
                toTimeInput.on("changeDate", function (e) {
                    fromTimeInput.datepicker('setEndDate', e.date);
                });
                
            })
         </script>

		<div class="card-block form-style-4">
			<table class="rwd-table table"
				th:classappend="${displayResult}==0?'hidden':''">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Price</th>
						<th scope="col">TYPE</th>
						<th scope="col">Nr. persons</th>
						<th scope="col">Details</th>
						<th scope="col">Reserve</th>
					</tr>
				</thead>
				<tbody th:if="${not #lists.isEmpty(rooms)}">
					<tr th:each="room : ${rooms}">
						<td contenteditable="true" th:text="${room.price}"></td>
						<td contenteditable="true" th:text="${room.type}"></td>
						<td contenteditable="true" th:text="${room.numberOfPersons}"></td>
						<td><a
							th:href="@{/client/reservation/details/(id=${room.id})}"
							class="btn btn-success eBtn">View Details</a></td>
						<td><a
							th:href="@{/client/reservation/save/(nr=${room.id}, startDate=${reservation.startdate}, endDate=${reservation.endDate})}"
							class="btn btn-success">Reserve</a></td>
					</tr>
				</tbody>
				<tbody th:if="${#lists.isEmpty(rooms)}">
					<tr>
						<td colspan="5">No rooms are available !</td>
					</tr>
				</tbody>
			</table>
			<div class="myForm">
				<div class="modal" id="exampleModal" tabindex="-1"
					role="dialog" aria-labelledby="exampleModalLabel"
					aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="form-style-4">
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="form-style-4">
								<h3>Room details</h3>
								<div>
									<table class="rwd-table" id="details">
										<thead>
											<tr>
												<th scope="col">Name</th>
												<th scope="col">Description</th>
											</tr>
										</thead>
									</table>
								</div>
							</div>

							<div class="form-style-4">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				<script type="text/javascript">
                  $(document).ready(function(){
                  	$('.table .eBtn').on('click', function(event){
                  		event.preventDefault();
                  		var href = $(this).attr('href');
                  		$.get(href, function(wrapper, status){
                  			var trHTML = '';
                  			$("#details tr").remove();
                  		    $.each(wrapper.details, function (i, item) {
                  		        
                  		        trHTML += '<tr><td>' + wrapper.details[i].name + '</td><td>' + wrapper.details[i].description + '</td></tr>';
                  		    });
                  		    
                  		    $('#details').append(trHTML);
                  		});
                  		$('.myForm #exampleModal').modal();
                  	});
                  });
               </script>
			</div>

		</div>
	</div>
</body>
</html>