<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Edit</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<form class="form-style-4" role="form" method="POST"
			th:action="@{/edit}" th:object="${user}">
			<input type="hidden" th:field="*{id}" />
			<div class="form-style-4">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="form-group ">
								<label class="control-label requiredField" for="name">
									First Name <span class="asteriskField"> * </span>
								</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-male"> </i>
									</div>
									<input class="form-control" id="name" name="name"
										placeholder="First Name" type="text" th:field="*{firstname}"
										required />
								</div>
							</div>
							<div class="form-group ">
								<label class="control-label requiredField" for="name1">
									Last Name <span class="asteriskField"> * </span>
								</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-male"> </i>
									</div>
									<input class="form-control" id="name1" name="name1"
										placeholder="Last Name" type="text" th:field="*{lastname}"
										required />
								</div>
							</div>
							<div class="form-group ">
								<label class="control-label requiredField" for="email">
									Email <span class="asteriskField"> * </span>
								</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-at"> </i>
									</div>
									<input class="form-control" id="email" name="email"
										placeholder="something@something.com" type="email"
										th:field="*{email}" required />
								</div>
							</div>
							<div class="form-group " th:if="${hideCreate}==1">
								<label class="control-label requiredField" for="password">
									Password </label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-key"> </i>
									</div>
									<input class="form-control" id="password" name="password"
										required type="password" th:field="*{password}"
										placeholder="******" />
								</div>
							</div>
							<div class="form-group " th:if="${hideCreate}==0">
								<label class="control-label requiredField" for="password">
									New Password </label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-key"> </i>
									</div>
									<input class="form-control" id="password" name="password"
										type="password" th:field="*{password}"
										placeholder="******" />
								</div>
							</div>
							<div class="form-group ">
								<label class="control-label requiredField" for="select">
									Role <span class="asteriskField"> * </span>
								</label> <select class="select form-control dropdown" id="select"
									name="select" th:field="*{rrole}">
									<option th:each="role : ${allRoles}" th:value="${role.role}"
										th:utext="${role.role}" />
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-1">
					<button type="submit" class="btn btn-success"
						th:classappend="${hideCreate}==1?'hidden':''" name="edit">
						Edit</button>
				</div>
				<div class="col-md-1">
					<button type="submit" class="btn btn-success"
						th:classappend="${hideCreate}==1?'hidden':''" name="delete">
						Delete</button>
				</div>
				<div class="col-md-1">
					<button type="submit" class="btn btn-success"
						th:classappend="${hideCreate}==0?'hidden':''" name="save">
						Save</button>
				</div>
				<a class="btn btn-success" href="/user/home">Back </a>
			</div>
		</form>
	</div>
</body>
</html>