<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<head>
<title>Rooms</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="row">
			<div class="col-md-1">
				<h1>Rooms</h1>
				<hr>
			</div>
		</div>
		<div class="card-block">
			<div class="alert alert-warning alert-dismissible fade show"
				role="alert" th:if="${msg}" th:utext="${msg}">
				<button type="button" class="close" data-dismiss="alert"
					aria-label="Close"></button>
			</div>
			<input class="form-control" id="inputFilter" type="text"
				placeholder="Search.." />
			<table class="rwd-table" id="rooms">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Room Number</th>
						<th scope="col">Price</th>
						<th scope="col">TYPE</th>
						<th scope="col">Nr. persons</th>
						<th scope="col">Edit</th>
					</tr>
				</thead>
				<tbody th:if="${not #lists.isEmpty(rooms)}">
					<tr th:each="room : ${rooms}">
						<td contenteditable="true" th:text="${room.id}"></td>
						<td contenteditable="true" th:text="${room.price}"></td>
						<td contenteditable="true" th:text="${room.type}"></td>
						<td contenteditable="true" th:text="${room.numberOfPersons}"></td>
						<td><a th:href="@{/room/edit/{nr}(nr=${room.id})}"
							class="btn btn-success">EDIT</a></td>
					</tr>
				</tbody>
				<tbody th:if="${#lists.isEmpty(rooms)}">
					<tr>
						<td colspan="5">No rooms were found!</td>
					</tr>
				</tbody>
			</table>
			<script>
				$("#inputFilter")
						.on(
								"keyup",
								function() {
									var inputValue = $(this).val()
											.toLowerCase();
									console.log(inputValue);
									$("#rooms tbody tr")
											.filter(
													function() {
														$(this)
																.toggle(
																		$(this)
																				.text()
																				.toLowerCase()
																				.indexOf(
																						inputValue) > -1)
													});
								});
			</script>
		</div>
		<a th:href="@{/room/create}" class="btn btn-primary btn-lg active">Create</a>
	</div>
</body>
</html>